.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;

    h1 {
        font-size: 48px;
        font-weight: 700;

        span {
            color: #60a5fa;
        }
    }

}

.role {
    margin-top: 12px;
    font-size: 18px;
    color: #9ca3af;
}

.desc {
    margin-top: 12px;
    max-width: 600px;
    color: #9ca3af;
}

.actions {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.primaryBtn {
    padding: 10px 24px;
    background: #60a5fa;
    color: #000;
    border-radius: 6px;
}

.secondaryBtn {
    padding: 10px 24px;
    border: 1px solid #374151;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .hero {
        h1 {
            font-size: 36px;
        }
    }
}